.chatbot-modal {
  position: fixed;
  right: 25px;
  bottom: 50px;
  z-index: 1000;
}

.hide-btn {
  display: none;
}

.react-chatbot-kit-chat-input {
  background-color: white;
}

.react-chatbot-kit-chat-bot-message {
  line-height: 1.5;
}

.react-chatbot-kit-user-chat-message {
  line-height: 1.5;
}
