@media (max-width: 1600px) {
  .adj-height {
    min-height: 940px;
  }
}
@media (max-width: 1025px) {
  .adj-height {
    min-height: 900px;
  }
}
@media (max-width: 768px) {
  .adj-height {
    min-height: 910px;
  }
}

@media (max-width: 425px) {
  .adj-height {
    min-height: 1385px;
  }
}

@media (max-width: 375px) {
  .adj-height {
    min-height: 1445px;
  }
}

@media (max-width: 325px) {
  .adj-height {
    min-height: 1595px;
  }
}


