.rent-price {
  border-radius: 0 !important;
}

@media (max-width: 1600px) {
  .adj-height {
    min-height: 940px;
  }
}
@media (max-width: 1025px) {
  .adj-height {
    min-height: 900px;
  }
}
@media (max-width: 768px) {
  .adj-height {
    min-height: 910px;
  }
}

@media (max-width: 425px) {
  .adj-height {
    min-height: 1385px;
  }
}

@media (max-width: 375px) {
  .adj-height {
    min-height: 1445px;
  }
}

@media (max-width: 325px) {
  .adj-height {
    min-height: 1595px;
  }
}

.colour {
  filter: invert(32%) sepia(89%) saturate(3622%) hue-rotate(357deg)
    brightness(107%) contrast(112%);
}
.colour-1 {
  filter: invert(42%) sepia(89%) saturate(3622%) hue-rotate(357deg)
    brightness(107%) contrast(112%);
}

@media screen and (max-width: 992px) {
  .hero {
    margin-top: 200px;
  }
  .item-banner-thumb {
    display: none;
  }
}
