.MuiDrawer-root {
  z-index: 1000000000 !important;
}
.MuiDrawer-root a {
  color: #111;
}

.mean-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.mean-bar--right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mean-bar--right .user {
  margin-right: 20px;
}
.mean-bar--right .user, .mean-bar--right .sidebarBtn {  
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#login-icon, #side-bar-icon {
  font-size: 30px;
  color: #000;
}

@media (max-width: 1024px) {
  .mean-bar {
    height: 100px;
    overflow: hidden;
  }
  .mean-bar img {
    height: 140px;
  }
}
@media (max-width: 768px) {
  .mean-bar {
    height: 100px;
    padding: 0 20px;
  }
  .mean-bar img {
    height: 140px;
  }
}
@media (max-width: 426px) {
  .mean-bar {
    height: 70px;
  }
  .mean-bar img {
    height: 120px;
  }
}

@media (max-width: 376px) {
  .mean-bar {
    height: 70px;
    overflow: hidden;
    padding: 0 30px;
  }
  .mean-bar img {
    height: 120px;
  }
}
@media (max-width: 326px) {
  .mean-bar {
    height: 60px;
    overflow: hidden;
    padding: 0 20px;
  }
  .mean-bar img {
    height: 120px;
  }
}

.nav-container {
  display: flex;
  height: 100px;
  align-items: center;
  width: 100%;
}
.align-items-center {
  width: 100%;
}
.header-menu.menu-layout2 {
  background-color: #fffaf6;
}
.nav-head {
  background: #ffefe2;
  position: fixed;
  top: 0;
  z-index: 100000;
  width: 100%;
  box-shadow: 0 10px 20px rgba(85, 85, 85, 0.144);
}
.mean-bar {
  background: #fdf6f0 !important;
}


  .header-action-layout1 {
    margin-right: 15px;
  }

  body>.skiptranslate {
    display: none;
  }
  .goog-te-gadget {
    width: 160px;
    display: flex;
    align-items: center;
  }
  .goog-te-combo {
    width: 160px;
    color: #ffffff;
    background-color: var(--rt-primary-color);
    padding: 8px 15px;
    padding-right: 0;
    transition: box-shadow 0.3s;
    font-weight: 500;
    font-size: 15px !important;
    font-family: 'Ubuntu', sans-serif !important;
    border: none;
    border-radius: 30px;
    cursor: pointer; 
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 10px;  
  }
  .goog-te-combo option {
    background-color: #fff !important;
    color: #000;
  }
  .goog-logo-link {
    display:none !important;
  } 
  .goog-te-gadget {
    color: transparent !important;
    font-size: 0px;
  }
  .goog-te-banner-frame.skiptranslate {
    display: none !important;
  }
  body {
    top: 0px !important;
  }
  @media print {
    #google_translate_element {
      display: none;
    }
  }

  .google-te-gadget:hover .goog-te-combo::after {
    visibility: visible;
    opacity: 1;
    width: 100%;
    left: 0;
  }
  .goog-te-combo::after {
    content: '';
    width: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 0px 30px 30px 0px;
    z-index: -1;
  }

  @media screen and (max-width: 1199px) {
    .header-action-layout1 {
      margin-right: 10px;
    }
    .header-menu .template-main-menu-3 ul li a {
      padding: 10px !important;
    }
    .header-action-layout1 .listing-button .item-icon {
      display: none !important;
    }
    .header-action-layout1 .listing-button .listing-btn {
      font-size: 13px;
    }
    .goog-te-combo {
      font-size: 13px !important;
      padding: 6px 15px;
    }
    .header-menu .nav-links-wrapper .listing-button .listing-btn span {
      padding: 5px 15px !important;
    } 
  }

  @media screen and (max-width: 991px) {
    .rt-header .header-menu .nav-container {
      height: 0;
    }
    .rt-header .header-menu .nav-container .logo-area, .rt-header .header-menu .nav-container .template-main-menu-3, .rt-header .header-menu .nav-container .nav-links-wrapper .header-action-layout1 {
      display: none;
    }
    #google_translate_element {
      position: absolute;
      right: 150px;
      top: 25px;
    }
  }

  @media screen and (max-width: 550px) {
    .mean-bar--right .user {
      display: none;
    }
    #google_translate_element {
      right: 70px;
    }
    .goog-te-gadget {
      width: 75px;
    }
    .goog-te-gadget .goog-te-combo {
      width: 75px;
      padding-right: 20px;
    }
  }

  @media screen and (max-width: 426px) {
    #google_translate_element {
      top: 10px;
      right: 70px;
    }
  }
  @media screen and (max-width: 326px) {
    #google_translate_element {
      top: 5px;
      right: 65px;
    }
  }