@media (max-width: 1024px) {
  .mean-bar {
    height: 100px;
    overflow: hidden;
  }
  .mean-bar img {
    height: 140px;
  }
}
@media (max-width: 768px) {
  .mean-bar {
    height: 100px;
    overflow: hidden;
    padding: 0 50px;
  }
  .mean-bar img {
    height: 140px;
  }
}
@media (max-width: 426px) {
  .mean-bar {
    height: 70px;
    overflow: hidden;
    padding: 0 40px;
  }
  .mean-bar img {
    height: 120px;
  }
}

@media (max-width: 376px) {
  .mean-bar {
    height: 70px;
    overflow: hidden;
    padding: 0 30px;
  }
  .mean-bar img {
    height: 120px;
  }
}
@media (max-width: 326px) {
  .mean-bar {
    height: 60px;
    overflow: hidden;
    padding: 0 20px;
  }
  .mean-bar img {
    height: 120px;
  }
}

.nav-container {
  display: flex;
  height: 100px;
  align-items: center;
  width: 100%;
}
.align-items-center {
  width: 100%;
}
.header-menu.menu-layout2 {
  background-color: #fffaf6;
}
.nav-head {
  background: #ffefe2;
  position: fixed;
  top: 0;
  z-index: 100000;
  width: 100%;
  box-shadow: 0 10px 20px rgba(85, 85, 85, 0.144);
}
.mean-bar {
  background: #fdf6f0 !important;
}
