.blog-wrap5 {
	padding-top: 30px;
}
.head-blog {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;

	-webkit-line-clamp: 2;
	
	-webkit-box-orient: vertical;
}
.item-content ul li {
	display: inline-block;
    color: #788593;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
}