body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body>.skiptranslate {
  display: none;
  }
  .goog-te-gadget {
    width: 160px;
  }
  .goog-te-combo {
    width: 160px;
    color: #ffffff;
    background-color: var(--rt-primary-color);
    /* opacity: 0.6; */
    padding: 13px 16px;
    padding-right: 0;
    transition: box-shadow 0.3s;
    font-weight: 500;
    font-size: 15px !important;
    font-family: 'Ubuntu', sans-serif !important;
    border: none;
    border-radius: 30px;
    cursor: pointer;    
  }
  
  .goog-te-combo option {
    background-color: #fff !important;
    color: #000;
  }
  .goog-te-combo :hover {
    background-color: var(--rt-primary-dark) !important;
    /* box-shadow: 0 0 10px 100px #f58f3c inset !important;
    animation: colorChange 0.9s linear infinite; */
  }
  .goog-logo-link {
    display:none !important;
  } 
    
  .goog-te-gadget {
    color: transparent !important;
  }
  .goog-te-banner-frame.skiptranslate {
  display: none !important;
  }
  body {
  top: 0px !important;
  }
  @media print {
  #google_translate_element {
  display: none;
  }
  }